.HlxTsayRoot {
    width: 100%;
    height: 100%;
    flow-children: none;
    hittest: false;
}

.HlxTsayPanel {
    width: fit-children;
    min-width: 180px;
    max-width: 650px;
    height: fit-children;

    horizontal-align: left;
    vertical-align: top;
    margin-left: 28px;
    margin-top: 30px;

    padding: 8px 18px;
    background-color: rgba(12, 14, 20, 0.75);
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(80, 200, 255, 0.45);
    border-radius: 6px;

    visibility: collapse;
    opacity: 0;
    transform: translate3d(-15px, 0px, 0px);

    transition-property: opacity, transform, visibility;
    transition-duration: 0.2s, 0.2s, 0.2s;
    transition-timing-function: ease-in-out;
    hittest: false;
}

.HlxTsayPanel.Visible {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

.HlxTsayText {
    width: fit-children;
    height: fit-children;
    text-align: left;
    horizontal-align: left;

    font-family: Verdana, Stratum2 Bold, 'Arial Unicode MS', Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;

    color: #55cdfc;
    text-shadow: 0px 2px 6px 2.5 rgba(0, 0, 0, 0.9);
    letter-spacing: 0.5px;
    hittest: false;
}
